# **Practice using pandas Library in Python**
---

## Import Libraries

In [1]:
# Importing required libraries and fixing options
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

pd.options.display.max_columns = None
pd.options.display.max_rows = None

%matplotlib inline

##Import Data

In [2]:
url = "https://drive.google.com/file/d/1HhOnZXyXkagtgd5TfzM61HPRuuykJ5AN/view?usp=sharing"
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
hnp_df = pd.read_csv(url)

# atau !wget https://cdn.discordapp.com/attachments/951132539878273095/961101693397921892/HNP_StatsData_2.csv -O HNP_StatsData_2.csv

In [3]:
hnp_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Africa Eastern and Southern,AFE,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,140.120535,140.594564,141.128109,141.32344,141.50816,141.668896,141.879704,141.983225,142.020168,142.010506,142.033458,142.279778,142.629356,142.469778,142.290486,142.053901,141.730609,141.396423,140.774087,140.150094,139.513693,138.804554,138.071244,137.058143,136.059339,135.08785,134.103381,133.152267,132.012111,130.869067,129.717498,128.562197,127.400373,126.969852,126.495358,125.972751,125.398693,124.772067,123.657335,122.560576,121.519841,120.546675,119.645856,118.446959,117.288051,116.146693,114.987433,113.827196,112.201444,110.530965,108.813523,107.052622,105.256166,103.391461,101.541782,99.719799,97.916601,96.146492,94.695223,93.231944,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Adults (ages 15+) and children (0-14 years) li...,SH.HIV.TOTL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Africa Eastern and Southern,AFE,Adults (ages 15+) and children (ages 0-14) new...,SH.HIV.INCD.TL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Eastern and Southern,AFE,Adults (ages 15+) living with HIV,SH.DYN.AIDS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Africa Eastern and Southern,AFE,Adults (ages 15-49) newly infected with HIV,SH.HIV.INCD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
hnp_df.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021',
       'Unnamed: 66'],
      dtype='object')

In [5]:
hnp_df['Indicator Name'].unique()

array(['Adolescent fertility rate (births per 1,000 women ages 15-19)',
       'Adults (ages 15+) and children (0-14 years) living with HIV',
       'Adults (ages 15+) and children (ages 0-14) newly infected with HIV',
       'Adults (ages 15+) living with HIV',
       'Adults (ages 15-49) newly infected with HIV',
       'Age at first marriage, female', 'Age at first marriage, male',
       'Age dependency ratio (% of working-age population)',
       'Age dependency ratio, old', 'Age dependency ratio, young',
       'Age population, age 00, female, interpolated',
       'Age population, age 00, male, interpolated',
       'Age population, age 01, female, interpolated',
       'Age population, age 01, male, interpolated',
       'Age population, age 02, female, interpolated',
       'Age population, age 02, male, interpolated',
       'Age population, age 03, female, interpolated',
       'Age population, age 03, male, interpolated',
       'Age population, age 04, female, interpolated',
       'Age population, age 04, male, interpolated',
       'Age population, age 05, female, interpolated',
       'Age population, age 05, male, interpolated',
       'Age population, age 06, female, interpolated',
       'Age population, age 06, male, interpolated',
       'Age population, age 07, female, interpolated',
       'Age population, age 07, male, interpolated',
       'Age population, age 08, female, interpolated',
       'Age population, age 08, male, interpolated',
       'Age population, age 09, female, interpolated',
       'Age population, age 09, male, interpolated',
       'Age population, age 10, female, interpolated',
       'Age population, age 10, male, interpolated',
       'Age population, age 11, female, interpolated',
       'Age population, age 11, male, interpolated',
       'Age population, age 12, female, interpolated',
       'Age population, age 12, male, interpolated',
       'Age population, age 13, female, interpolated',
       'Age population, age 13, male, interpolated',
       'Age population, age 14, female, interpolated',
       'Age population, age 14, male, interpolated',
       'Age population, age 15, female, interpolated',
       'Age population, age 15, male, interpolated',
       'Age population, age 16, female, interpolated',
       'Age population, age 16, male, interpolated',
       'Age population, age 17, female, interpolated',
       'Age population, age 17, male, interpolated',
       'Age population, age 18, female, interpolated',
       'Age population, age 18, male, interpolated',
       'Age population, age 19, female, interpolated',
       'Age population, age 19, male, interpolated',
       'Age population, age 20, female, interpolated',
       'Age population, age 20, male, interpolated',
       'Age population, age 21, female, interpolated',
       'Age population, age 21, male, interpolated',
       'Age population, age 22, female, interpolated',
       'Age population, age 22, male, interpolated',
       'Age population, age 23, female, interpolated',
       'Age population, age 23, male, interpolated',
       'Age population, age 24, female, interpolated',
       'Age population, age 24, male, interpolated',
       'Age population, age 25, female, interpolated',
       'Age population, age 25, male, interpolated',
       'AIDS estimated deaths (UNAIDS estimates)',
       'Antiretroviral therapy coverage (% of people living with HIV)',
       'Antiretroviral therapy coverage for PMTCT (% of pregnant women living with HIV)',
       'ARI treatment (% of children under 5 taken to a health provider)',
       'Birth rate, crude (per 1,000 people)',
       'Births attended by skilled health staff (% of total)',
       'Capital health expenditure (% of GDP)',
       'Cause of death, by communicable diseases and maternal, prenatal and nutrition conditions (% of total)',
       'Cause of death, by injury (% of total)',
       'Cause of death, by non-communicable diseases (% of total)',
       'Children (0-14) living with HIV',
       'Children (ages 0-14) newly infected with HIV',
       'Children orphaned by HIV/AIDS',
       'Children with fever receiving antimalarial drugs (% of children under age 5 with fever)',
       'Community health workers (per 1,000 people)',
       'Completeness of birth registration (%)',
       'Completeness of birth registration, female (%)',
       'Completeness of birth registration, male (%)',
       'Completeness of birth registration, rural (%)',
       'Completeness of birth registration, urban (%)',
       'Completeness of death registration with cause-of-death information (%)',
       'Comprehensive correct knowledge of HIV/AIDS, ages 15-24, female (2 prevent ways and reject 3 misconceptions)',
       'Comprehensive correct knowledge of HIV/AIDS, ages 15-24, male (2 prevent ways and reject 3 misconceptions)',
       'Comprehensive correct knowledge of HIV/AIDS, ages 15-49, female (2 prevent ways and reject 3 misconceptions)',
       'Comprehensive correct knowledge of HIV/AIDS, ages 15-49, male (2 prevent ways and reject 3 misconceptions)',
       'Condom use at last high-risk sex, adult female (% ages 15-49)',
       'Condom use at last high-risk sex, adult male (% ages 15-49)',
       'Condom use, population ages 15-24, female (% of females ages 15-24)',
       'Condom use, population ages 15-24, male (% of males ages 15-24)',
       'Consumption of iodized salt (% of households)',
       'Contraceptive prevalence, any method (% of married women ages 15-49)',
       'Contraceptive prevalence, any method (% of sexually active unmarried women ages 15-49)',
       'Contraceptive prevalence, any modern method (% of married women ages 15-49)',
       'Contraceptive prevalence, any modern method (% of sexually active unmarried women ages 15-49)',
       'Current health expenditure (% of GDP)',
       'Current health expenditure per capita (current US$)',
       'Current health expenditure per capita, PPP (current international $)',
       'Death rate, crude (per 1,000 people)',
       'Demand for family planning satisfied by any methods (% of married women with demand for family planning)',
       'Demand for family planning satisfied by modern methods (% of married women with demand for family planning)',
       'Diabetes prevalence (% of population ages 20 to 79)',
       'Diarrhea treatment (% of children under 5 receiving oral rehydration and continued feeding)',
       'Diarrhea treatment (% of children under 5 who received ORS packet)',
       'Domestic general government health expenditure (% of current health expenditure)',
       'Domestic general government health expenditure (% of GDP)',
       'Domestic general government health expenditure (% of general government expenditure)',
       'Domestic general government health expenditure per capita (current US$)',
       'Domestic general government health expenditure per capita, PPP (current international $)',
       'Domestic private health expenditure (% of current health expenditure)',
       'Domestic private health expenditure per capita (current US$)',
       'Domestic private health expenditure per capita, PPP  (current international $)',
       'Exclusive breastfeeding (% of children under 6 months)',
       'External health expenditure (% of current health expenditure)',
       'External health expenditure channeled through government (% of external health expenditure)',
       'External health expenditure per capita (current US$)',
       'External health expenditure per capita, PPP (current international $)',
       'Female headed households (% of households with a female head)',
       'Fertility rate, total (births per woman)',
       'GNI per capita, Atlas method (current US$)',
       'Hospital beds (per 1,000 people)',
       'Human capital index (HCI) (scale 0-1)',
       'Human capital index (HCI), female (scale 0-1)',
       'Human capital index (HCI), female, lower bound (scale 0-1)',
       'Human capital index (HCI), female, upper bound (scale 0-1)',
       'Human capital index (HCI), lower bound (scale 0-1)',
       'Human capital index (HCI), male (scale 0-1)',
       'Human capital index (HCI), male, lower bound (scale 0-1)',
       'Human capital index (HCI), male, upper bound (scale 0-1)',
       'Human capital index (HCI), upper bound (scale 0-1)',
       'Immunization, BCG (% of one-year-old children)',
       'Immunization, DPT (% of children ages 12-23 months)',
       'Immunization, HepB3 (% of one-year-old children)',
       'Immunization, Hib3 (% of children ages 12-23 months)',
       'Immunization, measles (% of children ages 12-23 months)',
       'Immunization, measles second dose (% of children by the nationally recommended age)',
       'Immunization, Pol3 (% of one-year-old children)',
       'Incidence of HIV, ages 15-24 (per 1,000 uninfected population ages 15-24)',
       'Incidence of HIV, ages 15-49 (per 1,000 uninfected population ages 15-49)',
       'Incidence of HIV, ages 50+ (per 1,000 uninfected population ages 50+)',
       'Incidence of HIV, all (per 1,000 uninfected population)',
       'Incidence of malaria (per 1,000 population at risk)',
       'Incidence of tuberculosis (per 100,000 people)',
       'Infant and young child feeding practices, all 3 IYCF (% children ages 6-23 months)',
       'Intermittent preventive treatment (IPT) of malaria in pregnancy (% of pregnant women)',
       'Labor force, female (% of total labor force)',
       'Labor force, total', 'Life expectancy at birth, female (years)',
       'Life expectancy at birth, male (years)',
       'Life expectancy at birth, total (years)',
       'Lifetime risk of maternal death (%)',
       'Lifetime risk of maternal death (1 in: rate varies by country)',
       'Literacy rate, adult female (% of females ages 15 and above)',
       'Literacy rate, adult male (% of males ages 15 and above)',
       'Literacy rate, adult total (% of people ages 15 and above)',
       'Literacy rate, youth male (% of males ages 15-24)',
       'Literacy rate, youth total (% of people ages 15-24)',
       'Low-birthweight babies (% of births)', 'Malaria cases reported',
       'Maternal leave benefits (% of wages paid in covered period)',
       'Maternal mortality ratio (modeled estimate, per 100,000 live births)',
       'Maternal mortality ratio (national estimate, per 100,000 live births)',
       'Mortality caused by road traffic injury (per 100,000 people)',
       'Mortality caused by road traffic injury, female (per 100,000 female population)',
       'Mortality caused by road traffic injury, male (per 100,000 male population)',
       'Mortality from CVD, cancer, diabetes or CRD between exact ages 30 and 70 (%)',
       'Mortality from CVD, cancer, diabetes or CRD between exact ages 30 and 70, female (%)',
       'Mortality from CVD, cancer, diabetes or CRD between exact ages 30 and 70, male (%)',
       'Mortality rate attributed to household and ambient air pollution (per 100,000 population)',
       'Mortality rate attributed to household and ambient air pollution, age-standardized, female (per 100,000 female population)',
       'Mortality rate attributed to household and ambient air pollution, age-standardized, male (per 100,000 male population)',
       'Mortality rate attributed to unintentional poisoning (per 100,000 population)',
       'Mortality rate attributed to unintentional poisoning, female (per 100,000 female population)',
       'Mortality rate attributed to unintentional poisoning, male (per 100,000 male population)',
       'Mortality rate attributed to unsafe water, unsafe sanitation and lack of hygiene (per 100,000 population)',
       'Mortality rate attributed to unsafe water, unsafe sanitation and lack of hygiene, female (per 100,000 female population)',
       'Mortality rate attributed to unsafe water, unsafe sanitation and lack of hygiene, male (per 100,000 male population)',
       'Mortality rate, adult, female (per 1,000 female adults)',
       'Mortality rate, adult, male (per 1,000 male adults)',
       'Mortality rate, infant (per 1,000 live births)',
       'Mortality rate, infant, female (per 1,000 live births)',
       'Mortality rate, infant, male (per 1,000 live births)',
       'Mortality rate, neonatal (per 1,000 live births)',
       'Mortality rate, under-5 (per 1,000)',
       'Mortality rate, under-5, female (per 1,000)',
       'Mortality rate, under-5, male (per 1,000)', 'Net migration',
       'Newborns protected against tetanus (%)',
       'Number of deaths ages 10-14 years',
       'Number of deaths ages 10-19 years',
       'Number of deaths ages 15-19 years',
       'Number of deaths ages 20-24 years',
       'Number of deaths ages 5-9 years', 'Number of infant deaths',
       'Number of infant deaths, female', 'Number of infant deaths, male',
       'Number of maternal deaths', 'Number of neonatal deaths',
       'Number of people pushed below the $1.90 ($ 2011 PPP) poverty line by out-of-pocket health care expenditure',
       'Number of people pushed below the $3.20 ($ 2011 PPP) poverty line by out-of-pocket health care expenditure',
       'Number of people pushed below the 60% median consumption poverty line by out-of-pocket health care expenditure',
       'Number of people pushed further below the $1.90 ($ 2011 PPP) poverty line by out-of-pocket health care expenditure',
       'Number of people pushed further below the $3.20 ($ 2011 PPP) poverty line by out-of-pocket health care expenditure',
       'Number of people pushed further below the 60% median consumption poverty line by out-of-pocket health care expenditure',
       'Number of people spending more than 10% of household consumption or income on out-of-pocket health care expenditure',
       'Number of people spending more than 25% of household consumption or income on out-of-pocket health care expenditure',
       'Number of people who are undernourished', 'Number of stillbirths',
       'Number of surgical procedures (per 100,000 population)',
       'Number of under-five deaths',
       'Number of under-five deaths, female',
       'Number of under-five deaths, male',
       'Nurses and midwives (per 1,000 people)',
       'Out-of-pocket expenditure (% of current health expenditure)',
       'Out-of-pocket expenditure per capita (current US$)',
       'Out-of-pocket expenditure per capita, PPP (current international $)',
       'People practicing open defecation (% of population)',
       'People practicing open defecation, rural (% of rural population)',
       'People practicing open defecation, urban (% of urban population)',
       'People using at least basic drinking water services (% of population)',
       'People using at least basic drinking water services, rural (% of rural population)',
       'People using at least basic drinking water services, urban (% of urban population)',
       'People using at least basic sanitation services (% of population)',
       'People using at least basic sanitation services, rural (% of rural population)',
       'People using at least basic sanitation services, urban  (% of urban population)',
       'People using safely managed drinking water services (% of population)',
       'People using safely managed drinking water services, rural (% of rural population)',
       'People using safely managed drinking water services, urban (% of urban population)',
       'People using safely managed sanitation services (% of population)',
       'People using safely managed sanitation services, rural (% of rural population)',
       'People using safely managed sanitation services, urban  (% of urban population)',
       'People with basic handwashing facilities including soap and water (% of population)',
       'People with basic handwashing facilities including soap and water, rural (% of rural population)',
       'People with basic handwashing facilities including soap and water, urban (% of urban population)',
       'Physicians (per 1,000 people)', 'Population ages 00-04, female',
       'Population ages 00-04, female (% of female population)',
       'Population ages 00-04, male',
       'Population ages 00-04, male (% of male population)',
       'Population ages 00-14, total',
       'Population ages 0-14 (% of total population)',
       'Population ages 0-14, female',
       'Population ages 0-14, female (% of female population)',
       'Population ages 0-14, male',
       'Population ages 0-14, male (% of male population)',
       'Population ages 05-09, female',
       'Population ages 05-09, female (% of female population)',
       'Population ages 05-09, male',
       'Population ages 05-09, male (% of male population)',
       'Population ages 10-14, female',
       'Population ages 10-14, female (% of female population)',
       'Population ages 10-14, male',
       'Population ages 10-14, male (% of male population)',
       'Population ages 15-19, female',
       'Population ages 15-19, female (% of female population)',
       'Population ages 15-19, male',
       'Population ages 15-19, male (% of male population)',
       'Population ages 15-64 (% of total population)',
       'Population ages 15-64, female',
       'Population ages 15-64, female (% of female population)',
       'Population ages 15-64, male',
       'Population ages 15-64, male (% of male population)',
       'Population ages 15-64, total', 'Population ages 20-24, female',
       'Population ages 20-24, female (% of female population)',
       'Population ages 20-24, male',
       'Population ages 20-24, male (% of male population)',
       'Population ages 25-29, female',
       'Population ages 25-29, female (% of female population)',
       'Population ages 25-29, male',
       'Population ages 25-29, male (% of male population)',
       'Population ages 30-34, female',
       'Population ages 30-34, female (% of female population)',
       'Population ages 30-34, male',
       'Population ages 30-34, male (% of male population)',
       'Population ages 35-39, female',
       'Population ages 35-39, female (% of female population)',
       'Population ages 35-39, male',
       'Population ages 35-39, male (% of male population)',
       'Population ages 40-44, female',
       'Population ages 40-44, female (% of female population)',
       'Population ages 40-44, male',
       'Population ages 40-44, male (% of male population)',
       'Population ages 45-49, female',
       'Population ages 45-49, female (% of female population)',
       'Population ages 45-49, male',
       'Population ages 45-49, male (% of male population)',
       'Population ages 50-54, female',
       'Population ages 50-54, female (% of female population)',
       'Population ages 50-54, male',
       'Population ages 50-54, male (% of male population)',
       'Population ages 55-59, female',
       'Population ages 55-59, female (% of female population)',
       'Population ages 55-59, male',
       'Population ages 55-59, male (% of male population)',
       'Population ages 60-64, female',
       'Population ages 60-64, female (% of female population)',
       'Population ages 60-64, male',
       'Population ages 60-64, male (% of male population)',
       'Population ages 65 and above (% of total population)',
       'Population ages 65 and above, female',
       'Population ages 65 and above, female (% of female population)',
       'Population ages 65 and above, male',
       'Population ages 65 and above, male (% of male population)',
       'Population ages 65 and above, total',
       'Population ages 65-69, female',
       'Population ages 65-69, female (% of female population)',
       'Population ages 65-69, male',
       'Population ages 65-69, male (% of male population)',
       'Population ages 70-74, female',
       'Population ages 70-74, female (% of female population)',
       'Population ages 70-74, male',

---

##Group 1 & 2

###Q1: Which country has the lowest death caused by nutrition in 2019?

In [6]:
ldn = hnp_df[['Country Name','Indicator Name','2019']]
ldn = ldn[ldn['Indicator Name']=='Cause of death, by communicable diseases and maternal, prenatal and nutrition conditions (% of total)']

In [7]:
ldn.sort_values(by='2019').head(1)

,Country Name,Indicator Name,2019
85623,North Macedonia,"Cause of death, by communicable diseases and m...",1.283611

In [8]:
# OR
ldn[ldn['2019']==ldn['2019'].min()]

,Country Name,Indicator Name,2019
85623,North Macedonia,"Cause of death, by communicable diseases and m...",1.283611

**North Macedonia** has the lowest death caused by nutrition in 2019.

###Q2: Which country has the highest rate of diabetes prevalence in 2021?

In [9]:
hrd = hnp_df[['Country Name','Indicator Name','2021']]
hrd = hrd[hrd['Indicator Name']=='Diabetes prevalence (% of population ages 20 to 79)']

In [10]:
hrd.sort_values(by='2021',ascending=False).head(1)

      Country Name                                     Indicator Name  2021
87420     Pakistan  Diabetes prevalence (% of population ages 20 t...  30.8

In [11]:
# OR
hrd[hrd['2021']==hrd['2021'].max()]

      Country Name                                     Indicator Name  2021
87420     Pakistan  Diabetes prevalence (% of population ages 20 t...  30.8

**Pakistan** has the highest rate of diabetes prevalence in 2021.

###Q3: How much is the working age population of Mali in 2020?

In [12]:
wap = hnp_df[['Country Name','Indicator Name','2020']]
wap = wap[wap['Indicator Name']=='Age dependency ratio (% of working-age population)']

In [13]:
wap[wap['Country Name']=='Mali']

,Country Name,Indicator Name,2020
75418,Mali,Age dependency ratio (% of working-age populat...,97.95885

The working age population of Mali in 2020 is **97,95885**.

###Q4: How many Indonesian adults (age 15+) are living with HIV in 2020?

In [14]:
hiv = hnp_df[['Country Name','Indicator Name','2020']]
hiv = hiv[hiv['Indicator Name']=='Adults (ages 15+) living with HIV']

In [15]:
hiv[hiv['Country Name']=='Indonesia']

      Country Name                     Indicator Name      2020
61302    Indonesia  Adults (ages 15+) living with HIV  520000.0

There are **520.000** Indonesian adults living with HIV in 2020.

###Q5: Which country has the lowest rate of literacy in 2020?

In [16]:
lrt = hnp_df[['Country Name','Indicator Name','2020']]
lrt = lrt[lrt['Indicator Name']=='Literacy rate, adult total (% of people ages 15 and above)']

In [17]:
lrt.sort_values(by='2020').head(1)

,Country Name,Indicator Name,2020
75566,Mali,"Literacy rate, adult total (% of people ages 1...",30.76141

In [18]:
# OR
lrt[lrt['2020']==lrt['2020'].min()]

,Country Name,Indicator Name,2020
75566,Mali,"Literacy rate, adult total (% of people ages 1...",30.76141

**Mali** has the lowest rate of literacy in 2020.

---

##Group 3 & 4

###Q6: Which country has the highest total fertility rate in 2019?

In [19]:
htf = hnp_df[['Country Name','Indicator Name','2019']]
htf = htf[htf['Indicator Name']=='Fertility rate, total (births per woman)']

In [20]:
htf.sort_values(by='2019',ascending=False).head(1)

      Country Name                            Indicator Name   2019
84791        Niger  Fertility rate, total (births per woman)  6.824

In [21]:
# OR
htf[htf['2019']==htf['2019'].max()]

      Country Name                            Indicator Name   2019
84791        Niger  Fertility rate, total (births per woman)  6.824

**Niger** has the highest total fertility rate in 2019.

###Q7: Which country has the lowest rate of diabetes prevalence in 2021?

In [22]:
lrd = hnp_df[['Country Name','Indicator Name','2021']]
lrd = lrd[lrd['Indicator Name']=='Diabetes prevalence (% of population ages 20 to 79)']

In [23]:
lrd.sort_values(by='2021').head(1)

      Country Name                                     Indicator Name  2021
30531        Benin  Diabetes prevalence (% of population ages 20 t...   1.1

In [24]:
# OR
lrd[lrd['2021']==lrd['2021'].min()]

      Country Name                                     Indicator Name  2021
30531        Benin  Diabetes prevalence (% of population ages 20 t...   1.1

**Benin** has the lowest rate of diabetes prevalence in 2021.

###Q8: Which country has the lowest prevalence of overweight adults in 2016?

In [25]:
lpo = hnp_df[['Country Name','Indicator Name','2016']]
lpo = lpo[lpo['Indicator Name']=='Prevalence of overweight (% of adults)']

In [26]:
lpo.sort_values(by='2016').head(1)

       Country Name                          Indicator Name  2016
115005      Vietnam  Prevalence of overweight (% of adults)  18.3

In [27]:
# OR
lpo[lpo['2016']==lpo['2016'].min()]

       Country Name                          Indicator Name  2016
115005      Vietnam  Prevalence of overweight (% of adults)  18.3

**Vietnam** has the lowest prevalence of overweight adults in 2016.

###Q9: How many Indonesian children (age <15) are living with HIV in 2020?

In [28]:
cwh = hnp_df[['Country Name','Indicator Name','2020']]
cwh = cwh[cwh['Indicator Name']=='Children (0-14) living with HIV']

In [29]:
cwh[cwh['Country Name']=='Indonesia']

      Country Name                   Indicator Name     2020
61371    Indonesia  Children (0-14) living with HIV  18000.0

There are **18000** Indonesian children living with HIV in 2020.

###Q10: Which country has the highest probability of dying per 1000 among adolescents ages 5-9 years in 2020?

In [30]:
hpd = hnp_df[['Country Name','Indicator Name','2020']]
hpd = hpd[hpd['Indicator Name']=='Probability of dying among adolescents ages 15-19 years (per 1,000)']

In [31]:
hpd.sort_values(by='2020',ascending=False).head(1)

       Country Name                                     Indicator Name  2020
96951  Sierra Leone  Probability of dying among adolescents ages 15...  18.0

In [32]:
hpd[hpd['2020']==hpd['2020'].max()]

       Country Name                                     Indicator Name  2020
96951  Sierra Leone  Probability of dying among adolescents ages 15...  18.0

**Sierra Leone** has the highest probability of dying per 1000 among adolescents ages 5-9 years in 2020.

---

##Group 5 & 6

###Q11: Which country has the lowest total fertility rate in 2019?

In [33]:
ltf = hnp_df[['Country Name','Indicator Name','2019']]
ltf = ltf[ltf['Indicator Name']=='Fertility rate, total (births per woman)']

In [34]:
ltf.sort_values(by='2019').head(1)

      Country Name                            Indicator Name   2019
67592  Korea, Rep.  Fertility rate, total (births per woman)  0.918

In [35]:
# OR
ltf[ltf['2019'] == ltf['2019'].min()]

      Country Name                            Indicator Name   2019
67592  Korea, Rep.  Fertility rate, total (births per woman)  0.918

**Korea, Rep.** has the lowest total fertility rate in 2019.

###Q12: Which country has 98% of their pregnant women receiving prenatal care in 2017?

In [36]:
pwp = hnp_df[['Country Name','Indicator Name','2017']]
pwp = pwp[pwp['Indicator Name']=='Pregnant women receiving prenatal care (%)']

In [37]:
pwp[pwp['2017']==98]

       Country Name                              Indicator Name  2017
106170     Tanzania  Pregnant women receiving prenatal care (%)  98.0

**Tanzania** has 98% of their pregnant women receiving prenatal care in 2017.

###Q13: Which country has the highest prevalence of overweight adults in 2016?

In [38]:
hoa = hnp_df[['Country Name','Indicator Name','2016']]
hoa = hoa[hoa['Indicator Name']=='Prevalence of overweight (% of adults)']

In [39]:
hoa.sort_values(by='2016',ascending=False).head(1)

      Country Name                          Indicator Name  2016
82371        Nauru  Prevalence of overweight (% of adults)  88.5

In [40]:
# OR
hoa[hoa['2016']==hoa['2016'].max()]

      Country Name                          Indicator Name  2016
82371        Nauru  Prevalence of overweight (% of adults)  88.5

**Nauru** has the highest prevalence of overweight adults in 2016.

###Q14: Which country is more likely to have a measles outbreak due to the lowest rate of immunization in 2019?

In [41]:
lmi = hnp_df[['Country Name','Indicator Name','2019']]
lmi = lmi[lmi['Indicator Name']=='Immunization, measles (% of children ages 12-23 months)']

In [42]:
lmi.sort_values(by='2019').head(1)

,Country Name,Indicator Name,2019
88776,Papua New Guinea,"Immunization, measles (% of children ages 12-2...",37.0

In [43]:
# OR
lmi[lmi['2019']==lmi['2019'].min()]

,Country Name,Indicator Name,2019
88776,Papua New Guinea,"Immunization, measles (% of children ages 12-2...",37.0

**Papua New Guinea** is more likely to have a measles outbreak due to the lowest rate of immunization in 2019.

###Q15: How much female age at first marriage in Slovenia, in 2018?

In [44]:
ffm = hnp_df[['Country Name','Indicator Name','2018']]
ffm = ffm[ffm['Indicator Name']=='Age at first marriage, female']

In [45]:
ffm[(ffm['Country Name']=='Slovenia')]

      Country Name                 Indicator Name  2018
98348     Slovenia  Age at first marriage, female  34.0

Female age at first marriage in Slovenia, in 2018 is **34** years.

---

##Group 7 & 8

###Q16: Which country has the highest rate of mortality by road traffic injury in 2019?

In [46]:
hmr = hnp_df[['Country Name','Indicator Name','2019']]
hmr = hmr[hmr['Indicator Name']=='Mortality caused by road traffic injury (per 100,000 people)']

In [47]:
hmr.sort_values(by='2019',ascending=False).head(1)

,Country Name,Indicator Name,2019
46468,Dominican Republic,Mortality caused by road traffic injury (per 1...,64.6

In [48]:
# OR
hmr[hmr['2019']==hmr['2019'].max()]

,Country Name,Indicator Name,2019
46468,Dominican Republic,Mortality caused by road traffic injury (per 1...,64.6

**Dominican Republic** has the highest rate of mortality by road traffic injury in 2019.

###Q17: Which country has 67% of their pregnant women receiving prenatal care in 2018?

In [49]:
pwp = hnp_df[['Country Name','Indicator Name','2018']]
pwp = pwp[pwp['Indicator Name']=='Pregnant women receiving prenatal care (%)']

In [50]:
pwp[pwp['2018']==67]

      Country Name                              Indicator Name  2018
85443      Nigeria  Pregnant women receiving prenatal care (%)  67.0

**Nigeria** has 67% of their pregnant women receiving prenatal care in 2018.

###Q18: How much is the prevalence of overweight adults in the United States, in 2016?

In [51]:
poa = hnp_df[['Country Name','Indicator Name','2016']]
poa = poa[poa['Indicator Name']=='Prevalence of overweight (% of adults)']

In [52]:
poa[poa['Country Name']=='United States']

         Country Name                          Indicator Name  2016
112800  United States  Prevalence of overweight (% of adults)  67.9

The prevalence of overweight adults in the United States, in 2016 is **67,9**.

###Q19: Which country is more likely to have TBC due to the lowest rate of immunization in 2019?

In [53]:
lti = hnp_df[['Country Name','Indicator Name','2019']]
lti = lti[lti['Indicator Name']=='Immunization, BCG (% of one-year-old children)']

In [54]:
lti.sort_values(by='2019').head(1)

       Country Name                                  Indicator Name  2019
104207       Sweden  Immunization, BCG (% of one-year-old children)  25.0

In [55]:
# OR
lti[lti['2019']==lti['2019'].min()]

       Country Name                                  Indicator Name  2019
104207       Sweden  Immunization, BCG (% of one-year-old children)  25.0

**Sweden** is more likely to have TBC due to the lowest rate of immunization in 2019.

###Q20: Which country has the average age of female at first marriage lower than 20 years old in 2016?

In [56]:
ffm = hnp_df[['Country Name','Indicator Name','2016']]
ffm = ffm[ffm['Indicator Name']=='Age at first marriage, female']

In [57]:
ffm[ffm['2016']<20]

      Country Name                 Indicator Name  2016
74093       Malawi  Age at first marriage, female  19.9

**Malawi** has the average age of female at first marriage lower than 20 years old in 2016.

---

##Group 9 & 10

###Q21: Which country has the highest rate of mortality by road traffic injury in 2019?

In [58]:
hmr = hnp_df[['Country Name','Indicator Name','2019']]
hmr = hmr[hmr['Indicator Name']=='Mortality caused by road traffic injury (per 100,000 people)']

In [59]:
hmr.sort_values(by='2019',ascending=False).head(1)

,Country Name,Indicator Name,2019
46468,Dominican Republic,Mortality caused by road traffic injury (per 1...,64.6

In [60]:
# OR
hmr[hmr['2019']==hmr['2019'].max()]

,Country Name,Indicator Name,2019
46468,Dominican Republic,Mortality caused by road traffic injury (per 1...,64.6

###Q22: How much is the working age population of Qatar in 2020?

In [61]:
wap = hnp_df[['Country Name','Indicator Name','2020']]
wap = wap[wap['Indicator Name']=='Age dependency ratio (% of working-age population)']

In [62]:
wap[wap['Country Name']=='Qatar']

,Country Name,Indicator Name,2020
91735,Qatar,Age dependency ratio (% of working-age populat...,18.103287

The working age population of Qatar in 2020 is **18,103287**.

###Q23: How much is the prevalence of overweight adults in Indonesia, in 2016?

In [63]:
poa = hnp_df[['Country Name','Indicator Name','2016']]
poa = poa[poa['Indicator Name']=='Prevalence of overweight (% of adults)']

In [64]:
poa[poa['Country Name']=='Indonesia']

      Country Name                          Indicator Name  2016
61644    Indonesia  Prevalence of overweight (% of adults)  28.2

The prevalence of overweight adults in Indonesia, in 2016 is **28,2**.

###Q24: Which country has the highest rate of literacy in 2020?

In [65]:
lrt = hnp_df[['Country Name','Indicator Name','2020']]
lrt = lrt[lrt['Indicator Name']=='Literacy rate, adult total (% of people ages 15 and above)']

In [66]:
lrt.sort_values(by='2020',ascending=False).head(1)

,Country Name,Indicator Name,2020
25292,Armenia,"Literacy rate, adult total (% of people ages 1...",99.788612

In [67]:
# OR
lrt[lrt['2020']==lrt['2020'].max()]

,Country Name,Indicator Name,2020
25292,Armenia,"Literacy rate, adult total (% of people ages 1...",99.788612

**Armenia** has the highest rate of literacy in 2020.

###Q25: How much is the average female age at first marriage in Indonesia, in 2017?

In [68]:
ffm = hnp_df[['Country Name','Indicator Name','2017']]
ffm = ffm[ffm['Indicator Name']=='Age at first marriage, female']

In [69]:
ffm[ffm['Country Name']=='Indonesia']

      Country Name                 Indicator Name  2017
61304    Indonesia  Age at first marriage, female  22.4

The average female age at first marriage in Indonesia, in 2017 is **22,4** years.

##The First 5 Characters

In [70]:
part1 = 'np95m'
part2 = 'nbv1s'
part3 = 'ktnp3'
part4 = 'dn6sm'
part5 = 'a122a2'
char = part1 + part2 + part3 + part4 + part5
print('https://wandakinasih.my.canva.site/' + char)

https://wandakinasih.my.canva.site/np95mnbv1sktnp3dn6sma122a2